out/test/
node_modules/
.vscode/
.vscode-test/
.vscodeignore
**/*.ts
**/*.map
**/*.test.js
.eslintrc.json
.gitignore
.prettierignore
.github/
src/
test/
tsconfig.json
eslint.config.mjs
prettier.config.mjs
package-lock.json
*.vsix
